@page "/graph-theory-intro"

<PageTitle>图论基础知识</PageTitle>

<h1>图论基础知识</h1>

<p>
  你好呀！欢迎来到图论的世界！
</p>

<p>
  <b>什么是“图”？</b><br />
  图就像是由“点”和“线”组成的地图。点叫“顶点”，线叫“边”。
</p>

<ul>
  <li>顶点：可以是小朋友、城市、棋盘上的格子……</li>
  <li>边：把两个顶点连起来的线。</li>
</ul>

<p>
  <b>举个例子：</b><br />
  你和你的好朋友们，每个人是一个点，你们之间的友谊是边。
</p>

<p>
  <b>图可以做什么？</b><br />
  图可以帮我们：
  <ul>
    <li>找最短的路</li>
    <li>安排比赛</li>
    <li>分析井字棋的所有走法</li>
  </ul>
</p>

<p>
  <b>下面我们用图来看看井字棋怎么玩！</b>
</p>

<a href="/tictactoe-graph">进入井字棋图论</a>
