@page "/tictactoe-graph"

<PageTitle>井字棋的图论世界</PageTitle>

<h1>井字棋的图论世界</h1>

<p>
  井字棋可以用“图”来表示每一步的变化。每一个棋盘状态是一个“点”，每下一步棋就是一条“边”。
</p>

<p>
  下面是一个简单的例子：
</p>

<div style="width: 100%; max-width: 420px; margin: 0 auto;">
  <img src="/images/tictactoe-tree-simple.svg" alt="井字棋部分走法树状图" style="width: 100%; height: auto; border-radius: 1rem; box-shadow: 0 2px 8px rgba(0,0,0,0.06); background: #fff;" />
</div>

<p>
  你可以想象，每次轮到你走棋，就像在图上从一个点走到另一个点。
</p>

<p>
  <b>思考题：</b><br />
  如果大家都很聪明，都不犯错，最后会发生什么？
</p>

<a href="/tictactoe-proof">看看为什么只能平局</a>
